@use '@angular/material';

:host {
    position: relative;
    padding: .5rem;

    & > app-floating-label {
        z-index: 5;
    }

    & > mat-card {
        z-index: 0;
        width: 100%;
        height: 100%;

        mat-card-content {
            overflow: auto;
            white-space: pre;

            & > * {
                min-width: fit-content;
            }

            & > p {
                margin: 0;
            }

            & > .empty {
                opacity: .35;
                height: 100%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;

                mat-icon {
                    font-size: 5rem;
                    width: fit-content;
                    height: fit-content;
                }
                
                @keyframes rotate-icon {
                    0%   { transform: rotate(0deg); }
                    25%  { transform: rotate(90deg); }
                    50%  { transform: rotate(180deg); }
                    75%  { transform: rotate(270deg); }
                    100% { transform: rotate(360deg); }
                }

                mat-icon.rotate {
                    animation: rotate-icon 1s infinite;
                }
            }
        }
    }
}